flask==2.2.2
flask_cors==3.0.10
flask_sqlalchemy==2.5.1
flask_socketio==5.3.2
marshmallow==3.12.2
requests==2.27.1
pysha3==1.0.2
flask-marshmallow==0.14.0
Flask-Ext==0.1
Flask-MySql==1.5.2
Flask-MySQLdb==0.2.0
mysql-connector-python==8.0.27
mysqlclient==2.1.1
PyMySQL==1.0.2